* {
  box-sizing: border-box;
  margin: 0;
}

body {
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-areas: "aside search-section search-section search-section"
                       "aside overview       overview      overview"
                       "aside toggle-options toggle-options toggle-options"
                       "aside graphs         graphs         graphs"
                       "aside profile        profile        social-menu";
  font-family: 'Open Sans', sans-serif;
}

aside {
  grid-area: aside;
  background-color: #343F53;
  width: 215px;
}

.person-info {
  border-bottom: 3px solid #283143;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 24px 0;
}

.name-profile {
  background: none !important;
  font-size: 18px;
  font-weight: 400;
  color: #98A3B7;
  margin-top: 18px;
}

.profile-image {
  height: 100px;
  width: 100px;
  border-radius: 50px;
}

.main-menu,
.admin-menu {
  border-bottom: 3px solid #283143;
  padding: 0px 0 20px 0px;
  font-size: 8px;
  margin: 0;

}

.main-heading,
.admin,
.categories-heading {
  margin: 31px 0 7px 24px;
  font-size: 14px;
  color: #61718C;
}

button {
  border: none;
  font-size: 12px;
}

.nav-btn {
  display: block;
  background: transparent;
  color: #98A3B7;
  height: 45px;
  padding-left: 20px;
  font-size: 13.5px;
  font-weight: 700;
  border-left: 4px solid transparent;
  width: 215px;
  text-align: left;
}

.nav-btn:hover {
  background: #2E384A !important;
  border-left: 4px solid #0298F0;
}

.icon {
  font-size: 19px;
  width: 21px;
  margin-right: 15px;
  position: relative;
  top: 2px;
}

.categories-heading {
  margin-bottom: 27px;
}

label {
  display: block;
  position: relative;
  bottom: 25px;
  left: 55px;
  font-size: 13.5px;
  color: #98A3B7;
  font-weight: 600;
}

.checkboxes {
  -webkit-appearance: none;
  padding: 9px;
  position: relative;
  margin-bottom: 6px;
  margin-left: 25px;
  border-radius: 3px;
}

.checkboxes:checked {
  color: #99a1a7;
}

.checkboxes:checked:after {
  content: '\2714';
  font-size: 14px;
  position: absolute;
  top: 0px;
  left: 3px;
  color: black;
}

.administrative,
.administratice:checked {
  background-color: #FDD10D;
}

.design,
.design:checked {
  background-color: #26A6F9;
}

.executive,
.executive:checked {
  background-color: #EA1253;
}

.human-resources,
.human-resources:checked {
  background-color: #01A17E;
}

.nav-btn:hover {
  background: #374256;
  color: white;
}

.search-section {
  grid-area: search-section;
  display: grid;
  grid-template-columns: 1fr 9fr repeat(3, 1fr) ;
  background: grey;
  height: 85px;
  border-bottom: 2px solid #EBEBEB;
}

.search-btn {
  border-right: 2px solid #EBEBEB;
  color: #9AA3B0;
}

.search-btn:hover {
  background: #009FFE;
  color: white;
}

.search-icon {
  font-size: 22px;
}

.search-bar {
  font-family: "Open Sans", "Font Awesome 5 Free";
  font-weight: 700;
  font-size: 20px;
  border: none;
  border-right: 2px solid #EBEBEB;
  padding-left: 20px;
}

.overview {
  grid-area: overview;
  background-color: white;
}

.toggle-options {
  grid-area: toggle-options;
  background-color: lightgrey;
}

.graphs {
  grid-area: graphs;
  background-color: white;
}

.profile {
  grid-area: profile;
  background-color: grey;
}

.social-menu {
  grid-area: social-menu;
  background-color: lightgrey;
}