* {
  box-sizing: border-box;
}

body {
  margin: 0;
  display: grid;
  grid-template-areas: "aside search-section search-section search-section"
                       "aside overview       overview      overview"
                       "aside toggle-options toggle-options toggle-options"
                       "aside graphs         graphs         graphs"
                       "aside profile        profile        social-menu";
  font-family: 'Open Sans', sans-serif;
}

aside {
  grid-area: aside;
  background-color: #343F53;
  width: 215px;
}

.person-info {
  border-bottom: 3px solid #283143;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 24px 0;
}

.name-profile {
  font-size: 18px;
  font-weight: 400;
  color: #98A3B7;
  margin-top: 18px;
}

.profile-image {
  height: 100px;
  width: 100px;
  border-radius: 50px;
}

.main-menu,
.admin-menu {
  border-bottom: 3px solid #283143;
  padding: 8px 0 6px 17px;
  font-size: 8px;
  margin: 0;
}

.main-heading,
.admin,
.categories-heading {
  margin: 20px 0 19px 0;
  font-size: 14px;
  color: #61718C;
}

button {
  border: none;
  background: none;
  font-size: 12px;
}

.nav-btn {
  display: block;
  color: #98A3B7;
  margin-bottom: 22px;
  padding-left: 0;
  font-size: 14px;
  font-weight: 600;
}

.icon {
  font-size: 19px;
  width: 21px;
  margin-right: 15px;
  position: relative;
  top: 2px;
}

.categories {
  padding: 17px;
}

.checkboxes {
  -webkit-appearance: none;
  padding: 9px;
  display: block;
  position: relative;
  margin-bottom: 17px;
  border: 1px solid #98A3B7;
}

.checkboxes:checked {
  color: #99a1a7;
}

.checkboxes:checked:after {
  content: '\2714';
  font-size: 14px;
  position: absolute;
  top: 0px;
  left: 3px;
  color: black;
}

.administrative,
.administratice:checked {
  background-color: #FDD10D;
}

.design,
.design:checked {
  background-color: #26A6F9;
}

.executive,
.executive:checked {
  background-color: #EA1253;
}

.human-resources,
.human-resources:checked {
  background-color: #01A17E;
}

.nav-btn:hover {
  background: #374256;
  color: white;
}
.search-section {
  grid-area: search-section;
  background-color: lightgrey;
}

.overview {
  grid-area: overview;
  background-color: white;
}

.toggle-options {
  grid-area: toggle-options;
  background-color: lightgrey;
}

.graphs {
  grid-area: graphs;
  background-color: white;
}

.profile {
  grid-area: profile;
  background-color: grey;
}

.social-menu {
  grid-area: social-menu;
  background-color: lightgrey;
}