* {
  box-sizing: border-box;
}

body {
  margin: 0;
  display: grid;
  grid-template-areas: "aside search-section search-section search-section"
                       "aside overview       overview      overview"
                       "aside toggle-options toggle-options toggle-options"
                       "aside graphs         graphs         graphs"
                       "aside profile        profile        social-menu";
  font-family: 'Open Sans', sans-serif;
}

aside {
  grid-area: aside;
  background-color: #343F53;
  width: 215px;
}

.person-info {
  border-bottom: 3px solid #283143;
}

.main-menu,
.admin-menu {
  border-bottom: 3px solid #283143;
  padding: 10px 0 10px 15px;
  font-size: 8px;
}

.main-heading,
.admin {
  margin-bottom: 20px;
  font-size: 14px;
  color: #61718C;
}

button {
  border: none;
  background: none;
  font-size: 12px;
}

.nav-btn {
  display: block;
  color: #98A3B7;
  margin-bottom: 25px;
  padding-left: 0;
  font-size: 14px;
  font-weight: 600;
}

.nav-btn:hover {
  background: #374256;
  color: white;
}
.search-section {
  grid-area: search-section;
  background-color: lightgrey;
}

.overview {
  grid-area: overview;
  background-color: white;
}

.toggle-options {
  grid-area: toggle-options;
  background-color: lightgrey;
}

.graphs {
  grid-area: graphs;
  background-color: white;
}

.profile {
  grid-area: profile;
  background-color: grey;
}

.social-menu {
  grid-area: social-menu;
  background-color: lightgrey;
}